
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>inde</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Glance Design Dashboard Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link  href="~/Scripts/bootstrap-3.3.7/dist/css/bootstrap.min.css"/>
    <!-- Bootstrap Core CSS -->
    <link href="~/css/bootstrap.css" rel='stylesheet' type='text/css' />


    <script src="~/Scripts/layui/layui.all.js" charset="utf-8"></script>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" type="text/css" />

    <!-- Custom CSS -->
    <link href="~/css/style.css" rel='stylesheet' type='text/css' />

    <!-- font-awesome icons CSS -->
    <link href="~/css/font-awesome.css" rel="stylesheet">
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <!-- //font-awesome icons CSS-->
    <!-- side nav css file -->
    <link href='~/css/SidebarNav.min.css' media='all' rel='stylesheet' type='text/css' />
    <!-- //side nav css file -->
    <!-- js-->
    <script src="~/js/jquery-1.11.1.min.js"></script>
    <script src="~/js/modernizr.custom.js"></script>

    <!--webfonts-->
    <link href="//fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
    <!--//webfonts-->
    <!-- chart -->
    <script src="~/js/Chart.js"></script>
    <!-- //chart -->
    <!-- Metis Menu -->
    <script src="~/js/metisMenu.min.js"></script>
    <script src="~/js/custom.js"></script>
    <link href="~/css/custom.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Scripts/layui/css/layui.css"/>
    <!--//Metis Menu -->
    <style>
        #chartdiv {
            width: 100%;
            height: 295px;
        }
        .widget {
            width:100% !important;
        }
    </style>
    <!--pie-chart --><!-- index page sales reviews visitors pie chart -->
    <script src="~/js/pie-chart.js" type="text/javascript"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $('#demo-pie-1').pieChart({
                barColor: '#2dde98',
                trackColor: '#eee',
                lineCap: 'round',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });

            $('#demo-pie-2').pieChart({
                barColor: '#8e43e7',
                trackColor: '#eee',
                lineCap: 'butt',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });

            $('#demo-pie-3').pieChart({
                barColor: '#ffc168',
                trackColor: '#eee',
                lineCap: 'square',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });


        });

    </script>
    <!-- //pie-chart --><!-- index page sales reviews visitors pie chart -->
    <!-- requried-jsfiles-for owl -->
    <link href="~/css/owl.carousel.css" rel="stylesheet">
    <script src="~/js/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $("#owl-demo").owlCarousel({
                items: 3,
                lazyLoad: true,
                autoPlay: true,
                pagination: true,
                nav: true,
            });
        });
    </script>
    <!-- //requried-jsfiles-for owl -->
</head>
<body class="cbp-spmenu-push">
    <div class="main-content">
        <div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1" style="width:100%;">
            <!--left-fixed -navigation-->
            <aside class="sidebar-left">
                <nav class="navbar navbar-inverse">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse" aria-expanded="false">
                            <span class="sr-only"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">切换导航</font></font></font></font></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1><a class="navbar-brand" href="index.html"><span class="fa fa-area-chart"></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 管理</font></font></font></font><span class="dashboard_text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">仓储管理系统</font></font></font></font></span></a></h1>
                    </div>
                    <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="sidebar-menu">
                            <li class="header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">主要导航</font></font></font></font></li>

                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-laptop"></i>
                                    <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">系统设置</font></font></font></font></span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu" style="display: none;">
                                    <li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 员工管理</font></font></font></font></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 角色管理</font></font></font></font></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 部门管理</font></font></font></font></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 菜单管理</font></font></font></font></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 权限分配</font></font></font></font></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 标识符管理</font></font></font></font></a></li>
                                </ul>
                            </li>

                            <li class="treeview">
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-laptop"></i>
                                    <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">基本资料</font></font></font></font></span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu" style="display: none;">
                                    <li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 仓位管理</font></font></font></font></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 供应商管理</font></font></font></font></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 客户管理</font></font></font></font></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 计量单位</font></font></font></font></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 产品类别</font></font></font></font></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 产品管理</font></font></font></font></a></li>
                                </ul>
                            </li>

                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-edit"></i> <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">仓库作业</font></font></font></font></span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu" style="display: none;">
                                    <li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 入库管理</font></font></font></font></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 出库管理</font></font></font></font></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 报损管理</font></font></font></font></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 移库管理</font></font></font></font></a></li>
                                    
                                    <li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 退货管理</font></font></font></font></a></li>
                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-table"></i> <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">报表管理</font></font></font></font></span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu" style="display: none;">
                                    <li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 库存清单</font></font></font></font></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 供应商报表</font></font></font></font></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 客户报表</font></font></font></font></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 入库报表</font></font></font></font></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 出库报表</font></font></font></font></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 报损报表</font></font></font></font></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 退货报表</font></font></font></font></a></li>
                                    
                                    
                                </ul>
                            </li>

                            <li class="treeview">
                                <a href="javascript:void(0)" class="exit">
                                    <i class="fa fa-folder"></i> <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;" >退出</font></font></font></font></span>

                                </a>

                            </li>




                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>

                <div class="navbar-collapse" id="bs-example-navbar-collapse-1">

                </div>
                <!-- /.navbar-collapse -->

            </aside>

            <!-- header-starts -->
            <div class="sticky-header header-section ">

                <div class="header-left">
                    <!--toggle button start-->
                    <!--toggle button end-->
                    <div class="profile_details_left">
                        <!--notifications of menu start -->

                        <div class="clearfix"></div>
                    </div>
                    <!--notification menu end -->
                    <div class="clearfix"> </div>
                </div>
                <div class="header-right">

                    
                    <div class="profile_details">
                        <ul>
                            <li class="dropdown profile_details_drop">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <div class="profile_img">
                                        <span class="prfil-img"><img src="~/images/龙腾四海.jpg" alt="" style="height:50px;width:50px;"> </span>
                                        <div class="user-name">
                                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;" id="SessionId">@Session["Userid"]</font></font></p>
                                            <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">管理员</font></font></span>
                                        </div>
                                        <i class="fa fa-angle-down lnr"></i>
                                        <i class="fa fa-angle-up lnr"></i>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                                <ul class="dropdown-menu drp-mnu">

                                    <li> <a href="#"><i class="fa fa-user"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 我的帐户</font></font></a> </li>
                                    <li> <a href="#"><i class="fa fa-suitcase"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 个人资料</font></font></a> </li>
                                    <li> <a href="javascript:void(0)" class="exit"><i class="fa fa-sign-out"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 登出</font></font></a> </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"></div>

            </div>	<!-- //header-ends -->
            <div id="page-wrapper" style="        min-height: 680px;
        width: 87%;
        margin: 0 0 0 17em;">
               <div class="main-page">
                
               </div>
            </div>
            <button id="test"></button>
            </div>
        </div>
            <script src="~/js/Chart.bundle.js"></script>
            <script src="~/js/utils.js"></script>

            <!-- new added graphs chart js-->
            <!-- Classie --><!-- for toggle left push menu script -->
            <script src="~/js/classie.js"></script>
            <!-- //Classie --><!-- //for toggle left push menu script -->
            <!--scrolling js-->
            <script src="~/js/jquery.nicescroll.js"></script>
            <script src="~/js/scripts.js"></script>
            <!--//scrolling js-->
            <!-- side nav js -->
            <script src='~/js/SidebarNav.min.js' type='text/javascript'></script>
            <script>
                $('.sidebar-menu').SidebarNav()
            </script>
            <!-- //side nav js -->
            <!-- for index page weekly sales java script -->
            <script src="~/js/SimpleChart.js"></script>
            <!-- //for index page weekly sales java script -->
            <!-- Bootstrap Core JavaScript -->
            <script src="~/js/bootstrap.js"></script>
            <!-- //Bootstrap Core JavaScript -->

</body>
</html>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/layui/layui.all.js"></script>
<script src="~/Scripts/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
<script src="~/Scripts/echarts-all.js"></script>
<script>
        $(function () {
            var aa = sessionStorage["Userid"];
            $("#SessionId").html(aa);
        if ( aa == null || aa=="") {
            window.location.href = "/Storage/login";
        }
        $("body").on("click", ".exit", function () {

            layer.confirm("真的要退出吗？", function () {
                    sessionStorage["Userid"] = "";
                    history.go(0);
            });
            });
          
        //在下面打js代码每人设置的变量、名称前面加上自己名字的首字母
        $(".treeview-menu:eq(0)>li:eq(0)>a").click(function () {
            $(".main-page").load("/Z/staff_management").show();


            });
        $(".treeview-menu:eq(0)>li:eq(1)>a").click(function () {
            $(".main-page").load("/Z/role_management").show();


            });

        $(".treeview-menu:eq(0)>li:eq(2)>a").click(function () {
            $(".main-page").load("/Z/divisional_management").show();


            });

        $(".treeview-menu:eq(0)>li:eq(3)>a").click(function () {
            $(".main-page").load("/Z/menu_management").show();


            });
        $(".treeview-menu:eq(0)>li:eq(4)>a").click(function () {
            $(".main-page").load("/Z/authority_management").show();


            });
        $(".treeview-menu:eq(0)>li:eq(5)>a").click(function () {
            
            $(".main-page").load("/Z/TAG_management").show();


            });
        //上面js代码为系统设置的分部视图子项按钮点击显示分部视图
        $(".treeview-menu:eq(1)>li:eq(0)>a").click(function () {
            
            
            $(".main-page").load("/T/shipping_management").show();


            });
        $(".treeview-menu:eq(1)>li:eq(1)>a").click(function () {
            $(".main-page").load("/T/supplier_management").show();


            });
        $(".treeview-menu:eq(1)>li:eq(2)>a").click(function () {
            $(".main-page").load("/T/client_management").show();


            });
        $(".treeview-menu:eq(1)>li:eq(3)>a").click(function () {
            $(".main-page").load("/T/unit").show();


            });
        $(".treeview-menu:eq(1)>li:eq(4)>a").click(function () {
            $(".main-page").load("/T/productType").show();


            });
        $(".treeview-menu:eq(1)>li:eq(5)>a").click(function () {
            $(".main-page").load("/T/product_management").show();


            });
        //上面js代码为基本资料的分部视图子项按钮点击显示分部视图
        $(".treeview-menu:eq(2)>li:eq(0)>a").click(function () {
            $(".main-page").load("/Y/stock_management").show();


            });
        $(".treeview-menu:eq(2)>li:eq(1)>a").click(function () {
            $(".main-page").load("/Y/delivery_management").show();


            });
        $(".treeview-menu:eq(2)>li:eq(2)>a").click(function () {
            $(".main-page").load("/Y/breakage_management").show();


            });
        $(".treeview-menu:eq(2)>li:eq(3)>a").click(function () {
            $(".main-page").load("/Y/shifting_management").show();


            });
        $(".treeview-menu:eq(2)>li:eq(4)>a").click(function () {
            $(".main-page").load("/Y/sales_management").show();


            });
         //上面js代码为仓库作业的分部视图子项按钮点击显示分部视图
        $(".treeview-menu:eq(3)>li:eq(0)>a").click(function () {
            $(".main-page").load("/G/store_list").show();


            });
        $(".treeview-menu:eq(3)>li:eq(1)>a").click(function () {
            $(".main-page").load("/G/product_sum").show();


            });
        $(".treeview-menu:eq(3)>li:eq(2)>a").click(function () {
            $(".main-page").load("/G/crk").show();


            });
        $(".treeview-menu:eq(3)>li:eq(3)>a").click(function () {
            $(".main-page").load("/G/rk").show();


            });
        $(".treeview-menu:eq(3)>li:eq(4)>a").click(function () {
            $(".main-page").load("/G/ck").show();


            });
        $(".treeview-menu:eq(3)>li:eq(5)>a").click(function () {
            $(".main-page").load("/G/breakage_statement").show();


            });
        $(".treeview-menu:eq(3)>li:eq(6)>a").click(function () {
            $(".main-page").load("/G/return_statement").show();


            });

    });
</script>