
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Zyggl</title>
</head>
<body>
    <div> 
       @Html.Partial("")
    </div>
</body>
</html>
